ul{margin: 0;padding: 0;list-style: none;}
.swiper-container {
    height: 203px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.page-position{
    padding-right: 10px;
}
.join-container{
    position: relative;
    height: 38px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

}
.join-team{
    width: 50%;
    height: 100%;
    float: left;
}
.join-teamImg{
    width: 25px;
    height: 24px;
    float: left;
    padding-left: 25%;
    margin-top: 6px;
}
.join-teamTxt{
    display:block;
    float:left;
    height:38px;
    line-height:38px;
    margin-left: 19px;
    font-size: 18px;
}
.match-apply{
    width: 50%;
    float: left;
}
.match-applyImg{
    width: 25px;
    height: 24px;
    float: left;
    padding-left: 25%;
    margin-top: 6px;
}
.match-applyTxt{
    display:block;
    float:left;
    height:38px;
    line-height:38px;
    margin-left: 19px;
    font-size: 18px;
}
.single_new{margin-left: 5px;margin-right: 5px;margin-top:5px;height: 107px;position: relative}
.news_img{float: left;width:36%;height: 92px;vertical-align:middle;display: inline-block;}
.img-attr{margin-left: 8px;margin-top: 8px}
.news_title{ font-weight: normal; font-size: 15px;word-break: break-all;height: 70px;line-height: 20px;margin-top: 8px;margin-left: 31px;margin-right: 15px;overflow: scroll}
.view_icon{width: 20px;height: 20px}
.news_info{float: left;width: 64%;}
.news_time{border-top: 1px solid #cacccb;height: 30px;font-size: 12px;margin-left: 31px}
.time_icon{float: left;width: 15px;height: 15px;padding-top: 5px}
.real-time{float: left;padding-top: 5px;padding-left: 5px;color: #cacccb}
.date_time{padding-top:8px;padding-left: 50px;font-size: 12px;}
.read_count{float: right;width:auto;background-color:#939999;margin-top: 5px;color: #FFFFFF;margin-right: 15px }
.news_ul{list-style-type:none;margin-left: 0px;padding-left: 0px}
.clear{clear:both }