ul{margin: 0;padding: 0;list-style: none;}
a:link{color: black;}
.title-container{position: relative;margin-top: 5px;margin-left: 5px;margin-right: 5px;height: 38px;}
.team{width: 20%;float: left;padding-left: 25px;padding-top: 12px;}
.schedule{width: 20%;float: left;padding-left: 25px;padding-top: 12px;padding-left: 25px;padding-top: 12px;}
.points{width: 20%;float: left;padding-left: 25px;padding-top: 12px;}
.shooter{width: 20%;float: left;padding-left: 25px;padding-top: 12px;}
.red-yellow{width: 20%;float: left;padding-left: 25px;padding-top: 12px;}
.all-schedule{margin-left: 5px;margin-right: 5px;}
.round{background-color: #2e992e;height: 52px;padding-left: 40%}
.round-num{font-size: 4pt;float: left;margin-top: 10px;}
.spreed{width: 26px;height: 26px;float: right;margin-right: 25px;margin-top: 10px;}
.match-date{text-align: center;background-color: #12283c;color: white;height: 25px;padding-top:5px; font-size: 3pt;}
.team-results{position: relative;width: 100%;background-color: white;height: 52px;border-bottom: 1px solid #f2f5f6;}
.team-a{float: left;width: 41%;padding-left: 25px;padding-top: 7px;}
.result{float: left;text-align: center;width: 18%;padding-top: 7px;}
.result-a{height: 25px;font-size: 12pt;}
.result-b{height: 13px;font-size: 1pt}
.team-b{float: right;width: 41%;padding-right: 25px;padding-top: 7px;}
.team-atxt{float: left;height: 38px;line-height: 38px;}
.team-aimg{width: 38px;height: 38px;margin-right: 16px;float: right}
.team-bimg{width: 38px;height: 38px;float: left;margin-left: 16px;}
.team-btxt{height: 38px;line-height: 38px;float: right;}