ul{margin: 0;padding: 0;list-style: none;margin-bottom: 0;}
.team-results{position: relative;height: 52px;margin-top: 5px;margin-right: 5px;margin-left: 5px; background-color: #caccca;}
.team-a{float: left;width: 39%;padding-top: 7px;}
.result{float: left;text-align: center;width: 18%;height: 52px;padding-top: 15px;background-color: #0f2840;}
.result-a{height: 25px;font-size: 12pt;}
.result-b{height: 13px;font-size: 1pt}
.team-b{float: right;width: 39%;padding-top: 7px;}
.team-atxt{float: left;height: 38px;line-height: 38px;margin-left: 10px;width: 60%;overflow: hidden;text-align: left}
.team-aimg{width: 35px;height: 35px;float: left}
.team-bimg{width: 35px;height: 35px;float: right;}
.team-btxt{height: 38px;line-height: 38px;float: right;margin-right: 10px;width: 60%;overflow: hidden;text-align: right}
.match-info-tab{margin-left: 5px;margin-top: 5px;margin-right: 5px;position: relative;background-color: #F1F5F6;height: 40px;}
.real-schedule{text-align: center;color: #929898;height: 40px;line-height: 40px;font-size:10px;}
.start-first{text-align: center;color: #929898;height: 40px;line-height: 40px;}
.statistic{text-align: center;color: #929898;height: 40px;line-height: 40px;}
.shape{text-align: center;color: #929898;height: 40px;line-height: 40px;}
.text-green26{color: #268226}
.team-first{height: 40px;margin-top: 5px;margin-left: 5px;margin-right: 5px;background-color:#F1F5F6; }
.team-a-first{text-align: center;height: 40px;line-height: 40px; }
.team-b-first{text-align: center;height: 40px;line-height: 40px;}
.background-green2e{background-color: #2E992F}
.each-position{margin-left: 5px;margin-top: 5px;margin-right: 5px;background-color:white;padding-bottom: 5px; }
.each-person{height: 43px;position: relative;}
.person-img{width: 38px;height: 38px;float: left}
.captain-img{width: 18px;height: 18px;}
.is_captain{z-index: 99999;float: left;position: absolute;margin-left: 29px;margin-top: 20px;}
.number{float: left;width: 10%;height:43px;line-height: 43px;text-align: center;}
.name{float: left;margin-left: 18px;height: 4px;line-height: 43px;}
.member-info{border-bottom:1px solid #BABABA;float: left;height: 43px;width:90% ;padding-top: 5px;}
.member-info-detail{width: 15px;height: 15px;float: right;margin-right: 33px;margin-top: 10px;}
.h40{height: 40px;}
.statistic-info{background-color:white;padding-top: 8px;margin-left: 5px;margin-right: 5px;margin-top: 5px;height: 550px; }
.statistic-info li{margin-top: 20px;}
.team-a-statistic{width: 42%}
.team-b-statistic{width: 42%}
.statistic-name{width: 16%;text-align: center}
.single-statistic{margin-top: 29px;height: 30px;}
.percent-a{float: right;margin-right: 9px;color: black}
.total-value-a{float: right;width: 107px;background-color: #F0F4F6;height: 10px;margin-top: 2px;position: relative;}
.real-value-a{float: right;background-color: #289D26;height: 10px;}
.percent-b{float: left;margin-left: 9px;color: black}
.total-value-b{float: left;width: 107px;background-color: #F0F4F6;height: 10px;margin-top: 2px;position: relative;}
.real-value-b{float: left;background-color: #289D26;height: 10px;}
.abstract-match{margin-left: 5px;margin-top: 5px;margin-right: 5px;position: relative;background-color: #F1F5F6;overflow: scroll;zoom: 1;height: 120px;}
.single-li{margin-top:8px;margin-bottom:8px;overflow: hidden;zoom: 1}
.team-a-abstract{float: left;width: 41%}
.action-a-img{width: 15px;height: 15px;float: right;vertical-align: middle}
.action-a-who{margin-right: 15px;font-size: 6pt;float: right;}
.action-a-time{margin-right:12%;font-size: 6pt;float: right}
.team-b-abtract{float: right;width: 41%}
.action-b-img{width: 15px;height: 15px;float: left;vertical-align: middle}
.action-b-who{margin-left: 22px;font-size: 6pt;float: left}
.action-b-time{margin-left: 15px;font-size: 6pt;float: left;}
.detail-match{margin-left: 5px;margin-top: 5px;margin-right: 5px;position: relative;background-color: #F1F5F6;overflow: scroll;zoom: 1;padding-top: 9px;height: 420px; }
.tab-real-schedule{height: 55%}
.real-a{float: left;width: 46%}
.real-axis{float: left;width: 8%}
.real-b{float: right;width: 46%}
.my_circle{ position:absolute; width: 10px;  height: 10px;  background: #2C952B;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;  border-radius: 5px; left: 50%;margin-left: -5px; }
.my_rectangle{width: 5px;height: 21px;background-color:#2C952B }
.timeline {  position: relative;  width: 100%;  margin: 0 auto;  margin-top: 20px;  padding: 1em 0;  list-style-type: none;  }
.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 4px;
    height: 100%;
    margin-left: -2px;
    background: rgb(44, 149, 43);
    background: -moz-linear-gradient(top, rgba(44, 149, 43,0) 0%, rgb(44, 149, 43) 8%, rgb(44, 149, 43) 92%, rgba(44, 149, 43,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(44, 149, 43,0) 0%, rgb(44, 149, 43) 8%, rgb(44, 149, 43) 92%, rgba(44, 149, 43,0) 100%);
    background: -o-linear-gradient(top, rgba(44, 149, 43,0) 0%, rgb(44, 149, 43) 8%, rgb(44, 149, 43) 92%, rgba(44, 149, 43,0) 100%);
    background: -ms-linear-gradient(top, rgba(44, 149, 43,0) 0%, rgb(44, 149, 43) 8%, rgb(44, 149, 43) 92%, rgba(44, 149, 43,0) 100%);
    background: linear-gradient(to bottom, rgba(44, 149, 43,0) 0%, rgb(44, 149, 43) 8%, rgb(44, 149, 43) 92%, rgba(44, 149, 43,0) 100%);
    z-index: 5;
}
.timeline li {  padding: 7px 0;  }
.timeline li:after {  content: "";  display: block;  height: 0;  clear: both;  visibility: hidden;  }
.direction-l {  position: relative;  width: 50%;  float: left;  text-align: right;  }
.direction-r {  position: relative;  width: 50%;  float: right; }
.direction-l img{width: 17px;height: 17px;float: right;margin-right: 20px;}
.direction-l-name{float: right;margin-right: 20px;font-size: 6pt;text-align: left;}
.direction-l-time{float: left;margin-left: 20px;font-size: 6pt;}
.direction-r img{width: 17px;height: 17px;float: left;margin-left: 20px;}
.direction-r-name{float: left;margin-left: 20px;font-size: 6pt;text-align: left;}
.direction-r-time{float: right;margin-right: 20px;font-size: 6pt;}
.shift-triangle{position: absolute;left: 46%;bottom:0;width: 0;  height: 0;  border-left: 6px solid transparent;  border-right: 6px solid transparent;  border-bottom: 10px solid #2e992e; }
.shape-team{height: 40px;margin-top: 5px;margin-left: 5px;margin-right: 5px;background-color:#F1F5F6; }
.shape-team-a{text-align: center;height: 40px;line-height: 40px; }
.shape-team-b{text-align: center;height: 40px;line-height: 40px;}
.shape-content{margin: 5px 5px 0px 5px;background-color:#2E992E ;height: 500px;text-align: center}
.shape-img{margin-top: 35px;}
/*no starter */
.result-going{height: 30px;font-size: 12px;background-color: #3D86CE;}
.result-go{float: left;text-align: center;width: 22%;height: 52px;padding-top: 15px;}
.signup-container{  position: relative;  height: 38px;  margin-top: 5px;  margin-left: 5px;  margin-right: 5px;  }
.signup{  width: 50%;  height: 100%;  float: left;  }
.signup-Txt{  display:block;    height:38px;  line-height:38px;    font-size: 14px; text-align: center }
.leave{  width: 50%;  float: left;  }
.leave-Txt{  display:block;    height:38px;  line-height:38px;    font-size: 14px; text-align: center }
.team-guide{margin: 5px 5px 0px 5px; }
.guide-title{height: 38px;line-height: 38px;background-color: #12283D;text-align: center;color: white}
.each-item{margin-bottom: 5px;background-color: white;height: 45px;line-height: 45px;}
.attr-name{margin-left: 14px;}
.attr-txt{margin-left:30px;}
.cloth-name{margin-left: 14px;}
.cloth-txt{margin-left: 30px;position: relative}
.home{float: left;}
.home-color{float:left;margin-left: 12px;margin-top: 7px; }
.rehome{float: left;margin-left: 20px;}
.rehome-color{float: left;margin-left: 12px;margin-top: 7px;}
.position-title{height: 20px;line-height: 20px;text-align: center;}
.signup-member,.leave-member{margin-left: 5px;margin-top: 5px;margin-right: 5px;background-color:white;padding-bottom: 5px;}
.signup-member-title,.leave-member-title{height: 45px;line-height: 45px;text-align: center;background-color:#2e992e;color: white;font-size: 14px; }
.showhome{ width: 50%;  height: 100%;  float: left;  }
.showaway{width: 50%;  float: left;  }
.showhome-Txt{display:block;    height:38px;  line-height:38px;    font-size: 14px; text-align: center}
.showaway-Txt{display:block;    height:38px;  line-height:38px;    font-size: 14px; text-align: center}
.chooseStartFirst{height: 35px;margin-left: 5px;margin-right: 5px;margin-top: 5px;line-height: 35px;text-align: center;}