ul{margin: 0;padding: 0;list-style: none;}
/*input::-ms-input-placeholder{text-align: center;}*/
input::-webkit-input-placeholder{text-align: center;}
.login-container{  position: relative;  height: 38px;  margin-top: 5px;  margin-left: 5px;  margin-right: 5px;  }
.login{  width: 50%;  height: 100%;  float: left;  }
.login-Img{  width: 25px;  height: 24px;  float: left;  padding-left: 22%;  margin-top: 6px;  }
.login-Txt{  display:block;    height:38px;  line-height:38px;    font-size: 18px; text-align: center }
.sign-apply{  width: 50%;  float: left;  }
.sign-Img{  width: 25px;  height: 24px;  float: left;  padding-left: 22%;  margin-top: 6px;  }
.sign-Txt{  display:block;    height:38px;  line-height:38px;    font-size: 18px; text-align: center }
.player-img{position: relative;height: 203px;padding-bottom: 33px;padding-top: 33px; background-color: #f2f5f6;margin: 5px 5px 0px 5px;text-align: center;}
.player-head{width: 145px;height: 145px; border-radius:145px; }
.team-guide,.person-guide{margin: 5px 5px 0px 5px; }
.team-guide-title,.person-title{height: 25px;line-height: 25px;background-color: #12283D;text-align: center;color: white}
.each-item{margin-bottom: 5px;background-color: white;height: 45px;line-height: 45px;}
.attr-name{margin-left: 14px;}
.attr-txt{margin-left:10px;}
.own-team-img{width: 57px;height: 57px;text-align: center;margin-bottom: 20px;}
.own-match-img{width: 57px;height: 57px;text-align: center;margin-bottom: 20px;}
.team-item{margin-bottom: 5px;background-color: white;height: 77px;line-height: 77px;}
.goto-img{width:20px;height: 20px;text-align: center;margin-right: 20px;float: right }

/*mine-login css* /
/**/

.login-btn{height: 38px;margin: 5px 5px 0 5px;line-height: 38px;text-align: center}
.sign-btn{height: 38px;margin: 5px 5px 0 5px;line-height: 38px;text-align: center}
.user-input,.password-input{height: 50px;margin: 5px 5px 0 5px;line-height: 50px;position: relative;font-size: 18px}
.forget-password{margin-right: 20px;float: right}
.forget-btn{height: 30px;line-height: 30px;margin: 5px 5px 0 5px;}
.getBackPassword-container{position: absolute;top:20% ;z-index: 4;background-color:darkgray;width: 80%;height: 30%;left: 50%;margin-left: -40% }
.reset-btn{text-align: center;margin-top: 5px;height: 30px;line-height: 30px;}
.close-reset{text-align: center;margin-top: 5px;height: 30px;line-height: 30px;}
.telephone-input {margin-top: 5px;}
.userName-input{margin-top: 5px;}

/*浮动层*/
.top-div{width: 80%;height: 60%;z-index: 5;position: absolute;top: 20%;left: 50%;margin-left:-40%;padding-left: 5px;padding-top: 5px;padding-right: 5px;background-color: #4bc74d}
.sex-ul{width: 100%}
.sex-item{margin-bottom: 5px;background-color: white;height: 35px;line-height: 35px;text-align: center}
.save-item{margin-bottom: 5px;background-color: white;height: 35px;line-height: 35px;text-align: center;margin-top: 80px;}
.cancel-item{margin-bottom: 5px;background-color: white;height: 35px;line-height: 35px;text-align: center;}

.editPassword-container{position: absolute;top:20% ;z-index: 4;background-color:darkgray;width: 80%;height: 30%;left: 50%;margin-left: -40% }
.editpassword-btn{text-align: center;margin-top: 5px;height: 30px;line-height: 30px;}
.close-edit{text-align: center;margin-top: 5px;height: 30px;line-height: 30px;}
.password1-input {margin-top: 5px;}
.password2-input{margin-top: 5px;}