ul{margin: 0;padding: 0;list-style: none;margin-bottom: 0;}
.all-comment{margin: 0 5px 0 5px;}
.each-comment{margin-top: 5px;background-color: white}
.img-div{float: left;width:72px; text-align: center;line-height:72px;}
.co-head{height: 72px;width: 100%;}
.info-div{float: left;}
.head-img{width: 40px;height: 40px;border-radius: 50%;}
.name-div{margin-top: 20px;}
.time-div{margin-top: 0px;}
.content{padding: 0 16px 8px;line-height: 22px;color: black;letter-spacing: 2px;}
.img-box{max-width: 100%;padding: 0 16px 8px;}
.img-box a{display: inline-block;margin-top: 5px;}
.img-one{width:220px;height: 160px;}
.img-two{width:120px;height: 120px; }
.img-three{width: 80px;height: 80px;}
.f-detail{padding: 0 10px;border-width: 1px 0 0;border-style: solid;height: 38px;line-height: 38px; }
.mod-comments{padding: 0 10px 12px;}
.icon-comment{background-image: url("../images/icon_comment.png");width: 20px;height: 20px;margin-right: 7px;display: inline-block;background-size:20px 20px;background-repeat: no-repeat;vertical-align:-6px;}
.icon-praise{background-image: url("../images/icon_praise.png");width: 20px;height: 20px;margin-right: 7px;display: inline-block;background-size:20px 20px;background-repeat: no-repeat;vertical-align:-6px;}
.comment-div{float: left;}
.praise-div{float: right;}
.input-div{width: 100%;position: relative;height: 40px;}
.input-content{width: 100%}

.form-box{margin: 5px;background-color: #f8f8f8;border-radius: 2px;position: relative;z-index: 17;}
.form-box .form-hd{height: 40px;line-height: 40px;width: 100%;position: relative;}
.form-box .form-hd .item{padding: 0 15px;font-size: 16px;color: #287faf;}
button{border: 0;background-color: transparent;}
.J_title{ width:40%;text-align: center;  font-weight: 700;  font-size: 18px;  color: #000;  padding: 0;position: absolute;left: 50%;margin-left: -20%;padding: 0 15px;font-size: 16px;}
.write-text {  border: 1px;  margin: 0;  outline: 0;  width: 100%;  resize: none;  min-height: 160px;max-height:160px;  font-size: 14px;padding: 12px 10px;overflow: scroll;background-color: white;}
.comment-text {  border: 1px;  margin: 0;  outline: 0;  width: 100%;  resize: none;  min-height: 60px;max-height:100px;  font-size: 14px;padding: 12px 10px;overflow: scroll;background-color: white;}
.show-text {  border: 1px;  margin: 0;  outline: 0;  width: 100%;  resize: none; max-height:160px;  font-size: 14px;padding: 6px 16px;overflow: scroll;background-color: white;}
.form-box .form-hd .item:last-child {  font-weight: 700;}
.J_close{float: left;}
.J_confirm{float: right;}
.J_operate{padding-top: 18px;}
.icon-emoji{background-image: url("../images/icon_emoji.png");width: 24px;height: 24px;margin-right: 7px;display:
        inline-block;background-size:24px 24px;background-repeat: no-repeat;vertical-align:-6px;margin-left: 20px;}
.choose-img{background-image: url("../images/choose_img.png");width: 24px;height: 24px;margin-right: 7px;display:
        inline-block;background-size:24px 24px;background-repeat: no-repeat;vertical-align:-6px;margin-left: 20px;}
 .delete-all { float: right;  color: #999;  line-height: 44px;  font-size: 14px;  padding: 0 10px 0 0;}
 .delete-comment{float: right;  color: #999;  line-height: 44px;  font-size: 14px;  padding: 0 10px 0 0;}
 .send-comment{float: left;  color: #999;  line-height: 44px;  font-size: 14px;  padding: 0 0 0 10px;}
 .write-plugin{height: 44px;line-height: 44px;position: relative;}
.delete-photo{background-image: url(../images/delete_photo.png);width: 20px;height: 20px;display:
        inline-block;background-size:20px 20px;background-repeat: no-repeat;padding-top: 45px;}
.comment { width: 680px; margin: 20px auto; position: relative; background: #fff; padding: 20px 50px 50px; border: 1px solid #DDD; border-radius: 5px; }
.comment h3 { height: 28px; line-height: 28px }
.com_form { width: 100%; position: relative }
.input { width: 99%; height: 60px; border: 1px solid #ccc }
.com_form p { height: 28px; line-height: 28px; position: relative; margin-top: 10px; }
span.emotion { width: 42px; height: 20px; padding-left: 20px; cursor: pointer }
span.emotion:hover { background-position: 2px -28px }
.qqFace { margin-top: 4px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; height: 200px;overflow: scroll;}
.qqFace table td { padding: 0px; }
.qqFace table td img { cursor: pointer; border: 1px #fff solid; }
.qqFace table td img:hover { border: 1px #0066cc solid; }
#show { width: 770px; margin: 20px auto; background: #fff; padding: 5px; border: 1px solid #DDD; vertical-align: top; }
.sub_btn { position: absolute; right: 0px; top: 0; display: inline-block; zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */  *display: inline;
 vertical-align: baseline; margin: 0 2px; outline: none; cursor: pointer; text-align: center; font: 14px/100% Arial, Helvetica, sans-serif; padding: .5em 2em .55em; text-shadow: 0 1px 1px rgba(0,0,0,.6); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); color: #e8f0de; border: solid 1px #538312; background: #64991e; background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e)); background: -moz-linear-gradient(top, #7db72f, #4e7d0e);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.sub_btn:hover { background: #538018; background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c)); background: -moz-linear-gradient(top, #6b9d28, #436b0c);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.comment-list{position: relative;margin: 6px 16px;background-color: rgba(0,0,0,.075);padding: 8px;}
.comment-list li{margin-top: 5px; }