ul{margin: 0;padding: 0;list-style: none;}
input::-webkit-input-placeholder{text-align: center;}
.player-img{position: relative;height: 203px;padding-bottom: 33px;padding-top: 33px; background-color: #f2f5f6;margin: 5px 5px 0px 5px;text-align: center;}
.player-head{width: 145px;height: 145px; border-radius:145px; }
.team-guide,.person-guide{margin: 5px 5px 0px 5px; }
.team-guide-title,.person-title{height: 25px;line-height: 25px;background-color: #12283D;text-align: center;color: white}
.each-item{margin-bottom: 5px;background-color: white;height: 45px;line-height: 45px;}
.attr-name{margin-left: 14px;}
.attr-txt{margin-left:10px;}
.own-team-img{width: 57px;height: 57px;text-align: center;margin-bottom: 20px;}
.own-match-img{width: 57px;height: 57px;text-align: center;margin-bottom: 20px;}
.team-item{margin-bottom: 5px;background-color: white;height: 77px;line-height: 77px;}
.goto-img{width:20px;height: 20px;text-align: center;margin-right: 20px;float: right }
