 ul{margin: 0;padding: 0;list-style: none;}
.title-container{position: relative;margin-top: 5px;margin-left: 5px;margin-right: 5px;height: 38px;}
.introduce{width: 33%;float: left;padding-top: 12px;position: relative;text-align: center}
.team{width: 33%;float: left;padding-top: 12px;position: relative;text-align: center}
.schedule{width: 33%;float: left;padding-top: 12px;position: relative;text-align: center}
.shift-triangle{position: absolute;left: 47%;bottom:0;width: 0;  height: 0;  border-left: 4px solid transparent;  border-right: 4px solid transparent;  border-bottom: 6px solid #2e992e; }
.join-container{  position: relative;  height: 38px;  margin-top: 5px;  margin-left: 5px;  margin-right: 5px;  }
.join-team{  width: 50%;  height: 100%;  float: left;  }
.join-teamImg{  width: 25px;  height: 24px;  float: left;  padding-left: 22%;  margin-top: 6px;  }
.join-teamTxt{  display:block;    height:38px;  line-height:38px;    font-size: 18px; text-align: center }
.match-apply{  width: 50%;  float: left;  }
.match-applyImg{  width: 25px;  height: 24px;  float: left;  padding-left: 22%;  margin-top: 6px;  }
.match-applyTxt{  display:block;    height:38px;  line-height:38px;    font-size: 18px; text-align: center }
.team-img{padding:33px 32% 33px 32%; background-color: #f2f5f6;margin: 5px 5px 0px 5px;}
.team-guide{margin: 5px 5px 0px 5px; }
.best-shooter{margin: 0px 5px 0px 5px;}
.guide-title{height: 38px;line-height: 38px;background-color: #12283D;text-align: center;color: white}
.shooter-title{height: 38px;line-height: 38px;background-color: #12283D;text-align: center;color: white}
.attr-name{margin-left: 14px;}
.attr-txt{margin-left:30px; }
.each-item{margin-bottom: 5px;background-color: white;height: 38px;line-height: 38px;}